<launch>
    <arg name="config_path" default = "$(find feature_tracker)/../config/euroc/euroc_config_fix_extrinsic.yaml" />
	  <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

    <node name="plvio_estimator" pkg="plvio_estimator" type="plvio_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

</launch>
