<launch>
    <arg name="config_path" default = "$(find feature_tracker)/../config/simdata/simdata_config_fix_extrinsic.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    <arg name="simdata_path" default = "$(find feature_tracker)/../config/simdata/data/" />
    
    <node name="plvio_estimator" pkg="plvio_estimator" type="plvio_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pub_imu" pkg="pub_imu_features" type="pub_imu" output="log">
       <param name="sim_file_path" type="string" value="$(arg simdata_path)" />    
    </node>

    <node name="pub_features" pkg="pub_imu_features" type="pub_feature" output="log">
       <param name="sim_file_path" type="string" value="$(arg simdata_path)" />
    </node>

</launch>
